[Unit]
Description=IKEv2 VPN
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill ike
ExecStart=/usr/bin/docker start ike

[Install]
WantedBy=multi-user.target
